---
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout
  title="Astro Blog | Articles"
  description="This is the articles page for the astro blog page"
>
  <h1>articles page</h1>
</MainLayout>
