---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout
  title="Astro Blog | About"
  description="This is the about page for the astro blog page"
>
  <h1>about page</h1>
</MainLayout>
