---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Home" description="Welcome to TechBlog" isNavbar={true}>
  <h1>This is the home page for astro blog</h1>
</MainLayout>
