---

---

<div class="w-full">
  <form class="max-w-2xl flex items-center gap-2 text-sm lg:text-base">
    <input
      type="text"
      class="flex-1 py-2 px-2 rounded-lg focus:ring-0 focus:outline-none focus:border-zinc-800 border-2 focus:border-2 border-zinc-400 bg-zinc-50"
      placeholder="Blog title, tags, author etc."
    />
    <button
      class="bg-zinc-900 text-white py-[10.1px] rounded-lg px-4 hover:opacity-90 transition-colors font-medium"
      >Search</button
    >
  </form>
</div>
